<!DOCTYPE html>
<html>
<head>
    <title>Login View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="../libs/jquery.mobile-1.3.1/css/jquery.mobile-1.3.1.min.css"/>
    <script src="../libs/jquery-1.9.1/js/jquery-1.9.1.js"></script>
    <script src="../libs/jquery.mobile-1.3.1/js/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>

<div class="didits-login">
    <h1>Welcome to Didits</h1>

    <form id="check-user" data-ajax="false">
        <fieldset>
            <div data-role="fieldcontain">
                <label for="username">Enter username:</label>
                <input type="text" value="" name="username" id="username"/>
            </div>
            <div data-role="fieldcontain">
                <label for="password">Enter password:</label>
                <input type="password" value="" name="password" id="password"/>
            </div>
            <input type="button" name="submit" id="submit" value="Login"/>
            <a href="RegistrationView.html">Register</a>

        </fieldset>
    </form>
</div>
<script type="text/javascript" src="../cordova-2.7.0.js"></script>
<script type="text/javascript">
    function onDeviceReady() {
        if (localStorage.username != null) {
            window.location = "UserHomeView.html";
        }
        $('#submit').on('click', function () {


            if ($('#username').val().length > 0 && $('#password').val().length > 0) {

                localStorage.username = $('#username').val();
                localStorage.baseCode = window.btoa($('#username').val() + ":" + $('#password').val());

                // TODO serverpruefung
                if (true) {
                    // TODO thread mit server sync starten
                    window.location = "UserHomeView.html";
                } else {
                    navigator.notification.alert('Sorry - we could not log you in using the credentials.', [], 'Fail', 'Ok');
                }

            } else {
                navigator.notification.alert('Enter credentials.', [], 'Fail', 'Ok');
            }
        });
        
    }
//    $(document).ready(function(){
        document.addEventListener('deviceready', onDeviceReady, false);
//    });
</script>

</body>
</html>
