<!DOCTYPE html>
<html>
<head>
    <title>User Home View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

 <!--   <script type="text/javascript" src="../cordova.js"></script> -->

    <script src="../libs/core/restCore.js"></script>
    <script src="../libs/core/diditsDB.js"></script>
    <script src="../libs/core/listGenerator.js"></script>
    <script src="../libs/core/distanceCalculator.js"></script>
    <script src="../libs/core/pinGenerator.js"></script>
    <script src="../libs/core/mapUtility.js"></script>
    <script src="../libs/core/badgeGenerator.js"></script>

</head>
<body>
    <div data-role="page" id="menu">
        <div data-role="panel" id="myPanel" class="main_nav" data-display="push"  data-dismissible="true">
            <div class="nav_profile">
               <div id="sidebar">
                   
               </div>
            </div>
        </div>
        <div data-role="content">
            <div class="didits-map didits-map-placeholder">
                
            </div>
            <a href="#myPanel" data-theme="c" data-rel="panel"      class="didits-sidebar">
                <div class="didits-sidebar-wrapper" data-icon="fui-list" >
                </div>
            </a>
            
                <!-- ueberarbeiten vom design - aber referenz muss bleiben -->
                <a href="Scanner.html">Did it!</a>
        </div>
    </div>
    <script type="text/javascript">
        function onDeviceReady() {
            $.get('Sidebar.html').success(function(data) {
               $('#sidebar').html(data);
            });
        }
        document.addEventListener('deviceready', onDeviceReady, false);
        </script>
</body>
</html>
