<!DOCTYPE html>
<html>
<head>
    <title>Fake QR Scanner</title>
</head>
<body onload="pageLoad()">
<div data-role="page">
    <div data-role="header">
        <a href="javascript:history.back()" data-icon="arrow-l">Back</a>

        <h1>Fake QR Scanner</h1>

    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
            <label for="qrid">Enter QR ID:</label>
            <input type="text" value="" name="qrid" id="qrid"/>
        </div>
        <input type="button" data-theme="b" name="submit" id="submit" value="Submit">
    </div>
    <script>
        document.addEventListener("deviceready", onDeviceReady, false);
        function onDeviceReady() {

            $('#submit').on('click', function () {
                window.plugins.applicationPreferences.get('userId', function (userResult) {
                            navigator.geolocation.getCurrentPosition(
                                    function (pos) {
                                        var ts = +new Date;
                                        var user_didit = {
                                            "diditId": $('#qrid').val(),
                                            "userId": userResult,
                                            "achievedTimestamp": ts + "",
                                            "latitude": "" + pos.coords.latitude,
                                            "longitude": "" + pos.coords.longitude
                                        }
                                        console.log(JSON.stringify(user_didit));


                                        function onSuccess() {
                                            console.log("Starting UserDidit post procedure");
                                            restCore.postUserDidit(user_didit);
                                        }

                                        function onError() {
                                            console.log("Fail for UserDiditValidation");
                                        }

                                        distanceCalculator.validateUserDidit(user_didit, onSuccess, onError);

                                    },
                                    function (err) {
                                        console.log(err);
                                    });
                        }, function (error) {
                            alert("Could not retrieve user login");
                            history.back();
                            console.log("Failed to retrieve a setting: " + error);
                        }
                );
            });

        }
    </script>
</div>
</body>
</html>

