<!DOCTYPE html>
<html>
<head>
    <title>Scanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
</head>

<body>
<div data-role="page" id="menu">
    <div data-role="header">
        <ul class="nav nav-tabs">
            <li id='historyBack' class="glyphicon glyphicon-chevron-left"></li>
        </ul>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
            <label for="qrid">Enter QR ID:</label>
            <input type="text" value="" name="qrid" id="qrid"/>
        </div>
        <input type="button" data-theme="b" name="submit" id="submit" value="Submit">
    </div>
    <script>
        document.addEventListener("deviceready", onDeviceReady, false);
            function onDeviceReady() {
                $('#historyBack').click(function(){
                    event.preventDefault();
                    history.back(1);
                });
            }
    </script>
</div>
</body>
</html> 
