<!DOCTYPE html>
<html>
<head>

    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div data-role="page">

    <div data-role="content">
        <ul class='sidebar' data-role="list-group" data-divider-theme="b" data-inset="true">
            <li class='sidebarGroupHeader' data-role="list-divider" role="heading">
                Settings
            </li>
            <li class='list-group-item'>
                <a href="UserProfileView.html" data-transition="slide">
                    My Profile
                </a>
            </li>
            <li class='list-group-item'>
                <a href="ListAllDiditsView.html" data-transition="slide">
                    List all Didis
                </a>
            </li>
            <li class='sidebarGroupHeader' data-role="list-divider" role="heading">
                Second part
            </li>
            <li class='list-group-item'>
                <a href="#" data-transition="slide">
                    ...
                </a>
            </li>
            <li class='list-group-item'>
                <a href="#page1" data-transition="slide">
                    ...
                </a>
            </li>
            <li class='list-group-item'>
                <a href="#page1" data-transition="slide">
                    ...
                </a>
            </li>
          <li class='list-group-item'>
                <a href="#page1" data-transition="slide">
                    ...
                </a>
            </li>
           <li class='list-group-item'>
                <a href="#page1" data-transition="slide">
                    ...
                </a>
            </li>
            <li class='list-group-item'>
                <a href="#page1" data-transition="slide">
                    ...
                </a>
            </li>
            <li class='list-group-item'>
                <a href="#page1" data-transition="slide">
                    ...
                </a>
            </li>
            <li class='list-group-item'>
                <a href="#page1" data-transition="slide">
                    ...
                </a>
            </li>
            <li class='list-group-item'>
                <a class="glyphicon glyphicon-remove-circle" href="#" data-transition="slide">
                    Logout
                </a>
            </li>

        </ul>
    </div>
    <script>
        document.addEventListener("deviceready", onDeviceReady, false);
            function onDeviceReady() {
                $('.sidebar').click(function(){
                    $.sidr('close', 'sidr-remote-content');
                });
                $("#Logout").on("tap", function () {
                    localStorage.username = "";
                    localStorage.baseCode = "";
                    window.location.href = "UserLoginView.html";
                });
            }
    </script>
</div>

<style type="text/css">
    .ui-mobile [data-role=page] {

        display: inline;

    }
</style>

</body>
</html>