<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Didits</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../libs/jquery.mobile-1.3.1/css/jquery.mobile-1.3.1.min.css"/>
        <link rel="stylesheet" href="../css/sidr/css/jquery.sidr.light.css">
        <link rel="stylesheet" href="../css/index.css"/>
        <link rel="stylesheet" href="../css/views/userHomeView.css"/>
        <script src="../libs/jquery-1.9.1/js/jquery-1.9.1.js"></script>
        <script type="text/javascript">
            $(document).bind("mobileinit", function() {
                $.mobile.defaultPageTransition = "slidefade";
            });
        </script>
        <script src="../libs/jquery.mobile-1.3.1/js/jquery.mobile-1.3.1.min.js"></script>
        <script type="text/javascript" src="../cordova-2.7.0.js"></script>
        <link href="../external/bootstrap/css/bootstrap.css" rel="stylesheet">
        <script src="../libs/sidr/js/jquery.sidr.min.js"></script>
    </head>
    <body onload="pageLoad()">
        
        <div data-role="page">
            <div data-role="header">
                <ul class="nav nav-tabs">
                    <li class="glyphicon headericon glyphicon-align-justify" id="remote-content-menu">
                    </li>
                </ul>
            </div>
            <div data-role="content">
                <div class="mapplaceholder"> </div>
                <div class="diditslistplaceholder"> </div>
                <div class='qrScanner'>
                   <a href="Scanner.html"><span class="glyphicon glyphicon-camera"></span>
                    </a>
                </div>
            </div>
            <script>
                function pageLoad() {
                    document.addEventListener("deviceready", function (){
                        var width = $(window).width();
                        var styles = {'position':'absolute','left':width/2-25 +'px'};
                        $('.qrScanner').css(styles);

                        $('#remote-content-menu').sidr({
                            name: 'sidr-remote-content',
                            source: 'Sidebar.html'
                        });



                        // just cache the most current position
                        navigator.geolocation.getCurrentPosition(
                                function (pos) {
                                    localStorage.coord = pos.coords;
                                },
                                function (err) {
                                    alert(err);
                                }
                        );


                        // rest request
                        // TODO distinguishin between owned and all didits!
                        $.ajax({
                            url: localStorage.diditsUrl + '/didits.json',
                            headers: {
                                Accept: "application/json; charset=utf-8",
                                Authorization: "Basic " + localStorage.baseCode
                            },
                            data: "data",
                            success: function (response) {
                                $.getJSON(localStorage.diditsUrl + "/didits.json", function (data) {
                                    diditsDB.addDidits(data, false);
                                });
                                console.log("UserHomeView ws response:" + response);
                            },
                            error: function(response){
                                console.log("UserHomeView ws response:" + response);
                            }
                        });

                        //check scaleUnit
                        cordova.require("applicationPreferences").get('scaleUnit', function (result) {
                                },
                                function (error) {
                                    window.plugins.applicationPreferences.set('scaleUnit', 'metric', function (result) {

                                    }, function (error) {
                                        console.log("Failed to set scaleUnit: " + error);
                                    });
                                }
                        );

                    }, false);
                }
            </script>
        </div>
    </body>
</html>

