@font-face {
    font-family: "Helvetica Neue";
    src: url(../../media/static/fonts/helveticaNeue/HelveticaNeueLTStd-UltLt.otf) format("truetype");
}

.didits-userhomeview{
    background-color:#ffffff;
}

.didits-btn{
    display: inline-block;
    background: #bdc3c7;
    padding: 9px 12px 10px;
    line-height: 22px;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    max-width: 115px;
    font-family: "Helvetica Neue";
    font-weight:100;
}
.didits-btn-text{
    width: 100px;
}


.ui-content {
    overflow: visible !important;

}

.mapplaceholder{
    background-color: grey;
    alignment-baseline: central;
    width: auto;
    height: 150px;
} 
.diditslistplaceholder{
    background-color: green;
    alignment-baseline: central;
    width: auto;
    height: 200px;
    margin-top: 20px;
}
.qrScanner a{
    text-decoraiton: none;
}

.qrScanner {
    font-size: 50px;
    bottom: 0px;
}
.ui-link{
    color: black !important;
}
div.ui-header.ui-bar-a{
    border: none;
    background: #B7B4B4 !important;
}
ul.nav.nav-tabs{
    min-height: 20px;
    top: 2px;
    position: relative;
}