.didits-sidebar{
    width:35px;
    border: 0px;
    background-color: white !important;
}

#sidebar{
    position:relativ;
    top: 50px;
}

.didits-map-placeholder{
    background-image:url(../../img/placeholder/465x245.gif);
    background-position:-80px -45px;
    position: relative;
    height: 135px;
    top: 20px;
}