.didits-sidebar{
    width:35px;
    border: 0px;
    background-color: white !important;
    position: absolute;
    top: 40px;
    left: 15px;
}

#sidebar{
    position:relativ;
    top: 50px;
}

.didits-map-placeholder{
    background-image:url(../../img/placeholder/465x245.gif);
    background-position:-80px -45px;
    position: relative;
    height: 135px;
    top: 20px;
}

.didit-panel{

}
.didits-sidebar-wrapper{

}
a.didits-sidebar.ui-link{
    width:auto;
    text-decoration: none;
}